
<hr>
<footer class="page-footer font-small pt-2 text-monospace bg-warning" >
    <hr>


    <div class="container mb-0" >
  
  
      <div class="row d-flex " >
        <div class="col-md-12 d-flex justify-content-center" >
          <h4 class="text-light mb-0">Peça em:</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
          <ul class="social-network mb-0">
            <li>
              <a href="https://github.com/ProjetoIntegradorGrupo1" target="_blank" class="icoGithub" title="Github">
                
              </a>
            </li>
          </ul>
        </div>
      </div>
  
  
  
    </div>
  
  
  
    <div class="footer-copyright text-center pt-0 pb-2 bg-danger">
      <span class="text-light"> © 2020 Copyright: </span>
      <a class="text-light mb-2" href="https://www.instagram.com/deepburger_/" target="_blank">@deepburger_</a>
    </div>
   
  </footer> 
  
  