
<hr>
<footer class="page-footer font-small pt-2 text-monospace bg-warning" >
    <hr>


    <div class="container mb-0" >
  
      <div class="row d-flex " >
        <div class="col-md-12 d-flex justify-content-center" >
          <h4 class="text-dark mb-0">Peça delivery:</h4>
          <img src="/assets/icones/delivery.png" alt="delivery" width="50px" height="50px">
        </div>  
        
        <div class="col-md-12 d-flex justify-content-center" >
          <h4 class="text-dark mb-0">Retirar no local:</h4>
          <img src="/assets/icones/delivery.png" alt="delivery" width="50px" height="50px">
        </div> 

        <div class="col-md-12 d-flex justify-content-center" >
          <h4 class="text-dark alinhaCentro">Peça direto no Whatsapp</h4>
          <img class="m-3" src="/assets/icones/whatsapp2.png" alt="whatsapp" width="50px" height="50px">
        </div> 

      </div>  
    
    </div>  
  
  
    <div class="footer-copyright text-center pt-0 pb-2 bg-danger">
      <span class="text-light mb-2"> © 2020 Copyright: </span>
      
      <a href="https://www.instagram.com/deepburger_/" target="_blank">
        <img class="mt-2" src="/assets/img/hambueger2.png" alt="ig" width="100px" height="100px">
      </a>
    </div>
   
  </footer> 
  
  